# Gradle files
.gradle/
build/

# Kotlin/Java files
*.iml
*.ipr
*.iws

# Android Studio files
/local.properties
.idea/
/captures

# Build outputs
/build
/*/build

# External Native Build
.externalNativeBuild
.cxx

# OS specific files
.DS_Store
Thumbs.db

# Log files
*.log

# Sensitive info (Firebase config)
google-services.json

# Gradle wrapper folder
/gradle/

# Signing files
*.jks
*.keystore
/release/
